.cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;

    .card-1 {
        width: 360px;
        height: 400px;
        color: #ffffff;
        background-color: #243f56;
        border-radius: 20px;
        padding: 30px 23px;

        .img {
            margin: 0 100px 0 120px;

            img {
                width: 84px;
                height: 84px;
                object-fit: cover;
            }
        }

        h2 {
            font-style: normal;
            font-size: 30px;
            font-weight: 700;
            text-align: center;
            margin-top: 43px;
        }

        p {
            font-style: normal;
            font-size: 16px;
            font-weight: 400;
            text-align: center;
            line-height: 25px;
            width: 283px;
            height: 87px;
            margin: 20px 0 0 15px;
        }

        a {
            img {
                width: 48px;
                height: 48px;
                object-fit: cover;
                margin: 20px 120px;
            }
        }
    }

    .card-2 {
        width: 360px;
        height: 400px;
        color: #ffffff;
        background-color: #243f56;
        border-radius: 20px;
        padding: 30px 23px;
        animation-duration: 4s;
        animation-name: cardd;

        .img {
            margin: 0 100px 0 120px;

            img {
                width: 84px;
                height: 84px;
                object-fit: cover;
            }
        }

        h2 {
            font-style: normal;
            font-size: 30px;
            font-weight: 700;
            text-align: center;
            margin-top: 43px;
        }

        p {
            font-style: normal;
            font-size: 16px;
            font-weight: 400;
            text-align: center;
            line-height: 25px;
            width: 283px;
            height: 87px;
            margin: 20px 0 0 15px;
        }

        a {
            img {
                width: 48px;
                height: 48px;
                object-fit: cover;
                margin: 20px 120px;
            }
        }
    }

    .card-3 {
        width: 360px;
        height: 400px;
        color: #ffffff;
        background-color: #243f56;
        border-radius: 20px;
        padding: 30px 23px;
        animation-duration: 4s;
        animation-name: cardd;

        .img {
            margin: 0 100px 0 120px;

            img {
                width: 84px;
                height: 84px;
                object-fit: cover;
            }
        }

        h2 {
            font-style: normal;
            font-size: 30px;
            font-weight: 700;
            text-align: center;
            margin-top: 43px;
        }

        p {
            font-style: normal;
            font-size: 16px;
            font-weight: 400;
            text-align: center;
            line-height: 25px;
            width: 283px;
            height: 87px;
            margin: 20px 0 0 15px;
        }

        a {
            img {
                width: 48px;
                height: 48px;
                object-fit: cover;
                margin: 20px 120px;
            }
        }
    }
}

@media (min-width: 0) and (max-width: 428px) {
    .cards {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: -70px;
    
        .card-1 {
            width: 360px;
            height: 400px;
            color: #ffffff;
            background-color: #243f56;
            border-radius: 20px;
            padding: 30px 23px;
    
            .img {
                margin: 0 100px 0 120px;
    
                img {
                    width: 84px;
                    height: 84px;
                    object-fit: cover;
                }
            }
    
            h2 {
                font-style: normal;
                font-size: 30px;
                font-weight: 700;
                text-align: center;
                margin-top: 43px;
            }
    
            p {
                font-style: normal;
                font-size: 16px;
                font-weight: 400;
                text-align: center;
                line-height: 25px;
                width: 283px;
                height: 87px;
                margin: 20px 0 0 15px;
            }
    
            a {
                img {
                    width: 48px;
                    height: 48px;
                    object-fit: cover;
                    margin: 20px 120px;
                }
            }
        }
    
        .card-2 {
            width: 360px;
            height: 400px;
            color: #ffffff;
            background-color: #243f56;
            border-radius: 20px;
            padding: 30px 23px;
            margin-top: 45px;
            animation-duration: 2s;
            animation-name: cardd;
    
            .img {
                margin: 0 100px 0 120px;
    
                img {
                    width: 84px;
                    height: 84px;
                    object-fit: cover;
                }
            }
    
            h2 {
                font-style: normal;
                font-size: 30px;
                font-weight: 700;
                text-align: center;
                margin-top: 43px;
            }
    
            p {
                font-style: normal;
                font-size: 16px;
                font-weight: 400;
                text-align: center;
                line-height: 25px;
                width: 283px;
                height: 87px;
                margin: 20px 0 0 15px;
            }
    
            a {
                img {
                    width: 48px;
                    height: 48px;
                    object-fit: cover;
                    margin: 20px 120px;
                }
            }
        }
    
        .card-3 {
            width: 360px;
            height: 400px;
            color: #ffffff;
            background-color: #243f56;
            border-radius: 20px;
            padding: 30px 23px;
            margin-top: 45px;
            animation-duration: 2s;
            animation-name: cardd;
    
            .img {
                margin: 0 100px 0 120px;
    
                img {
                    width: 84px;
                    height: 84px;
                    object-fit: cover;
                }
            }
    
            h2 {
                font-style: normal;
                font-size: 30px;
                font-weight: 700;
                text-align: center;
                margin-top: 43px;
            }
    
            p {
                font-style: normal;
                font-size: 16px;
                font-weight: 400;
                text-align: center;
                line-height: 25px;
                width: 283px;
                height: 87px;
                margin: 20px 0 0 15px;
            }
    
            a {
                img {
                    width: 48px;
                    height: 48px;
                    object-fit: cover;
                    margin: 20px 120px;
                }
            }
        }
    }
}